<div>
  <app-build-select-forms
    (allRequiredFieldsSet)="onBuildSet($event)"
    (formLoading)="onFormLoading($event.message)"
    (formLoaded)="onFormLoaded()"
    (buildVersionUnselected)="onBuildVersionUnselected()"
  >
  </app-build-select-forms>
  <app-basic-selector
    #versionSelector
    [title]="'Select CTS version:'"
    [placeholder]="['Pick from CTS versions']"
    [options]="suiteList"
    [isShown]="true"
    (select)="ctsVersionChanged($event.value)"
  >
  </app-basic-selector>

  <app-basic-text-form></app-basic-text-form>
  <app-new-update-notifier></app-new-update-notifier>

  <app-run-suite-button (onClick)="onRunSuiteClick()"></app-run-suite-button>
</div>
