.wrapper {
  overflow: hidden;
  height: auto;

  .container-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 1.25rem;
    padding: 1.25rem;
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 4px;
    font-weight: 400;
    position: relative;

    .title {
      font-family: Roboto, sans-serif;
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.6rem;
    }

    .items {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 0 0.375rem;
    }

    a {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
      font-size: 14px;
      width: fit-content;
    }
  }

  .button-wrapper {
    margin: 0 0 0 1.25rem;
  }
}
