<div class="card-wrapper" id="card-wrapper">
  <mat-tab-group>
    <!-- Qualifications Tab
    <!--
    <mat-tab label="Qualifications">
      <ng-template matTabContent>
        <div class="suite-wrapper">
            <app-qualifications></app-qualifications>
        </div>
      </ng-template>
    </mat-tab> -->
    -->

    <!-- Storage qual Tab -->
    <mat-tab label="Storage AVL">
      <ng-template matTabContent>
        <div class="suite-wrapper">
          <app-storage-qual></app-storage-qual>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
