<div>
  <app-build-select-forms (allRequiredFieldsSet)="onBuildSet($event)"
    (buildVersionUnselected)="onBuildVersionUnselected()" (formLoading)="onFormLoading($event.message)"
    (formLoaded)="onFormLoaded()">
  </app-build-select-forms>

  <app-basic-selector #dutSelector [title]="'Select Chromebook(DUT) IP Address:'" [options]="dutIPs"
    [placeholder]="['Select an IP']" [isShown]="true" (select)="dutIPDropdownChanged($event.value)">
  </app-basic-selector>

  <div *ngIf="peripheral_error">
    <span style="color: red; padding-left: 10px">Failed to get devices
      <strong style="color: blue; text-decoration: underline; cursor: pointer"
        (click)="refresh_peripheral_information()">refresh</strong></span>
  </div>

  <app-basic-selector #suiteSelector [title]="'Select suite:'" [options]="suiteList" [placeholder]="['Select a suite']"
    [isShown]="true" (select)="suiteDropdownChanged($event.value)">
  </app-basic-selector>

  <app-basic-selector #deviceIdSelector [title]="'Select a device'" [options]="data" [placeholder]="['Select a device']"
    [isShown]="suiteSelected && !peripheral_error" (select)="deviceIdChanged($event)">
  </app-basic-selector>

  <app-basic-input #deviceInput [hidden]="
      suiteName !== FWUPD_INSTALL_VERSION && suiteName !== FWUPD_INSTALL_FILE
    " [name]="suiteName === FWUPD_INSTALL_FILE ? 'File' : 'Version'" (update)="deviceInputChanged()">
  </app-basic-input>

  <app-basic-input #certificateIdInput [title]="'If not set the existing key will be used'"
    [name]="'Certificate ID for signed reports'" (update)="certificateIdInputChanged()">
  </app-basic-input>

  <app-new-update-notifier></app-new-update-notifier>

  <ng-container *ngIf="device">
    <div class="flex flex-col gap-4 mb-4">
      <mat-divider></mat-divider>
      <p class="text-lg font-semibold">Device Info:</p>

      <ul class="list-disc list-inside text-base">
        <li><strong>DeviceId:</strong> {{ device.DeviceId }}</li>
        <li><strong>Name:</strong> {{ device.Name }}</li>
        <li><strong>Vendor:</strong> {{ device.Vendor }}</li>
        <li><strong>Current FW version:</strong> {{ device.Version }}</li>
        <li>
          <strong>Current bootloader FW version:</strong>
          {{ device.VersionBootloader }}
        </li>
        <li><strong>Guid:</strong> {{ device.Guid[0] }}</li>
        <li><strong>Flags:</strong> {{ device.Flags.join(', ') }}</li>
      </ul>

      <mat-divider></mat-divider>
    </div>
  </ng-container>

  <app-run-suite-button (onClick)="onRunSuiteClick()"></app-run-suite-button>
</div>
