.suite-content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 4rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 2rem;
    width: 26rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;

    button {
      width: 12rem;
      height: 2.5rem;
    }

    .hint {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  mat-button-toggle {
    width: 183px;

    &.mat-button-toggle-checked {
      color: white;
      background-color: #1e88e5;
    }
  }
}
