<div class="notification-wrapper">
  <div
    [class.error]="notification.type === 'error'"
    [class.info]="notification.type === 'info'"
    class="content"
  >
    <div class="message">
      <ng-container *ngFor="let n of notifications">
        <ng-container *ngIf="n.type === 'url'">
          <a href="{{ n.url }}" target="_blank">{{ n.url }}</a>
        </ng-container>
        <ng-container *ngIf="n.type === 'string'">
          <p>{{ n.value }}</p>
        </ng-container>
      </ng-container>
    </div>

    <button
      (click)="onDismissClick()"
      *ngIf="showDismissButton"
      class="dismiss-btn"
      mat-button
    >
      Dismiss
    </button>
  </div>
</div>
