<div class="notification-wrapper">
  <div
    [class.info]="notification.type === 'info'"
    [class.error]="notification.type === 'error'"
    class="content"
  >
    <div class="message">
      <ng-container *ngFor="let n of notification.message">
        <ng-container *ngIf="n.type === 'url'">
          <a href="{{ n.url }}" target="_blank">{{ n.url }}</a>
        </ng-container>
        <ng-container *ngIf="n.type !== 'url'">
          <p>{{ n }}</p>
        </ng-container>
      </ng-container>
    </div>

    <button
      *ngIf="showDismissButton"
      mat-button
      (click)="onDismissClick()"
      class="dismiss-btn"
    >
      Dismiss
    </button>
  </div>
</div>
