<div class="wrapper">
  <app-loading [loading$]="loading$"></app-loading>

  <div class="content">
    <app-basic-selector
      #poolSelector
      id="poolSelector"
      title="Select Pool:"
      placeholder="Please select a pool"
      [options]="poolOptions"
      (select)="onPoolChanged($event)"
    >
    </app-basic-selector>

    <app-build-selector
      [board]="fields.board"
      [model]="fields.model"
      [loading]="loading"
      (onChanged)="onBuildChanged($event)"
    >
    </app-build-selector>

    <div class="btn-group">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        [mat-dialog-close]="fields"
        [disabled]="
          !(
            this.fields.board !== '' &&
            this.fields.model !== '' &&
            this.fields.milestone !== '' &&
            this.fields.build !== '' &&
            this.fields.pool !== ''
          )
        "
      >
        Start
      </button>
    </div>
  </div>
</div>
