@import '../../../../theme.scss';

.moblab-selector {
    color: grey;
    width: 100%;
    margin: 1rem 0;
    padding: 0 1rem;
}

.mat-select-arrow { visibility: hidden; }

.enabled {
  /*change color of label*/
  color: mat-color($primary, default);

}

.chip {
  background-color: $moblab-colors-status-unknown;
  color: black;
  border-radius: 10px;
  font-size: x-small;
  margin:2px;
  padding: 5px;
  opacity: 0.5;
}

.recommended-chip {
  background-color: $moblab-colors-status-recommended;
  color: black;
  font-weight: bold;
}
