<div *ngIf="isShown"
     class=moblab-selector
     matTooltip="{{this.getDisabledReason()}}"
     [class.enabled]="!isDisabled()">
  <mat-label class="moblab-selector-label"> {{title}} </mat-label>
  <mat-select (selectionChange)="onChange($event)"
              [disabled]="this.isDisabled()"
              [(ngModel)]="selected"
              disableOptionCentering
              placeholder="{{placeholder}}"
  >
    <mat-select-trigger>
      {{selected}}
      <span *ngIf="this.recommendedBuild">
        <span class="chip recommended-chip">Recommended</span>
      </span>
    </mat-select-trigger>

    <mat-option *ngFor="let option of selectableItems" [value]="option.value === null ? option.text : option.value"
    [disabled]="option.status !== '' && option.status !== 'Recommended'" (click)="updateStatus(option.status)">
      {{option.text}}
      <span *ngIf="option.status !== ''">
        <span class="chip {{ option.status | lowercase }}-chip">{{ option.status }}</span>
      </span>
    </mat-option>
  </mat-select>
</div>
