<div class="suite-content">
  <div class="wrapper">
    <app-build-select-form
      (allRequiredFieldsSet)="allRequiredFieldsSet($event)"
    ></app-build-select-form>

    <div class="px-6">
      <app-autocomplete-selector
        #suiteSelector
        (inputChanged)="onSuiteChanged($event)"
        [options]="suiteOptions"
        id="suiteSelector"
        placeholder="Type or scroll to select custom suite"
        title="Type or scroll to select custom suite"
      >
      </app-autocomplete-selector>
    </div>

    <app-advanced-settings
      (settingsChanged)="onAdvancedSettingsChanged($event)"
      [disabled]="settingsDisabled"
    ></app-advanced-settings>

    <div class="flex justify-center py-4">
      <app-loading-button
        (onClick)="onRunSuiteClick()"
        [disabled]="disabled"
        [loading]="isRunning"
        [text]="'Run'"
      ></app-loading-button>
    </div>
  </div>
</div>
