<div class="wrapper">
  <app-build-select-form
    (allRequiredFieldsSet)="allRequiredFieldsSet($event)"
  ></app-build-select-form>

  <div class="px-6">
    <app-autocomplete-selector
      #suiteSelector
      id="suiteSelector"
      title="Type or scroll to select custom suite"
      placeholder="Type or scroll to select custom suite"
      (inputChanged)="onSuiteChanged($event)"
      [options]="suiteOptions"
    >
    </app-autocomplete-selector>
  </div>

  <div class="settings-wrapper">
    <mat-accordion>
      <mat-expansion-panel #settings [hideToggle]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Advanced settings</mat-panel-title>
          <mat-icon *ngIf="!settings.expanded">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="settings.expanded">arrow_drop_up</mat-icon>
        </mat-expansion-panel-header>
        <mat-slide-toggle
          [(ngModel)]="isCFT"
          (change)="onCFTChange($event)"
          [disabled]="isCustomBuild"
          >CFT execution framework</mat-slide-toggle
        >
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="flex justify-center py-4">
    <button
      mat-raised-button
      color="primary"
      (click)="onRunSuiteClick()"
      [disabled]="disabled"
    >
      Run Suite
    </button>
  </div>
</div>
