<div class="suite-content">
  <div class="wrapper">
    <app-build-select-form
      (allRequiredFieldsSet)="allRequiredFieldsSet($event)"
    ></app-build-select-form>

    <div class="input-wrapper">
      <div class="form-group">
        <mat-form-field class="full-width zero-padding">
          <mat-label>Enter Test Name</mat-label>
          <input
            [formControl]="testFormControl"
            matInput
            placeholder="Ex: audio_CrasAec"
          />
        </mat-form-field>
      </div>
      <button
        (click)="onAddTestClick()"
        [disabled]="testFormControl.value.trim() === ''"
        class="add-btn"
        color="primary"
        matTooltip="Add test"
      >
        <div class="material-icon">add</div>
      </button>
    </div>

    <div *ngFor="let case of testCases; let i = index" class="card-wrapper">
      <div class="card-group">
        <span class="card-content">Test {{ i + 1 }}: {{ case.name }}</span>
        <button
          (click)="onRemoveTestClick(i)"
          class="delete-btn"
          color="basic"
          matTooltip="Remove test"
        >
          <div class="material-icon">delete</div>
        </button>
      </div>
    </div>

    <app-advanced-settings
      (settingsChanged)="onAdvancedSettingsChanged($event)"
      [disabled]="settingsDisabled"
    ></app-advanced-settings>

    <div class="btn-group">
      <app-loading-button
        (onClick)="onRunTestClick()"
        [disabled]="disabled"
        [loading]="isRunning"
        [text]="'Run Suite'"
      ></app-loading-button>
    </div>
  </div>
</div>
