<div class="wrapper">
  <div class="search-wrapper">
    <div class="row">
      <div class="w-48 min-x-48 hidden">
        <mat-form-field class="full-width">
          <mat-label>Satlab ID</mat-label>
          <input
            id="satlab-id"
            name="satlab-id"
            matInput
            [value]="query.tags?.['satlab-id'] ?? ''"
            (change)="onSatlabIDChanged($event)"
            [disabled]="true"
          />
        </mat-form-field>
      </div>

      <div class="w-56 min-w-56 pt-4">
        <app-autocomplete-selector
          #poolSelector
          id="poolSelector"
          title="Pool"
          (inputChanged)="onPoolChanged($event)"
          [options]="poolOptions"
          placeholder=""
        >
        </app-autocomplete-selector>
      </div>

      <div class="selector-wrapper w-48 min-w-48">
        <mat-form-field class="full-width">
          <mat-label>Status</mat-label>
          <mat-select
            name="status"
            [(ngModel)]="statusQuery"
            (selectionChange)="onJobStatusChanged($event.value)"
          >
            <mat-option
              *ngFor="let status of statusOptions"
              [value]="status.value"
            >
              {{ status.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="selector-wrapper w-36 min-w-36">
        <mat-form-field class="full-width">
          <mat-label>Job Type</mat-label>
          <mat-select
            name="job_type"
            [(ngModel)]="jobType"
            (selectionChange)="onJobTypeChanged($event.value)"
          >
            <mat-option *ngFor="let t of jobTypeOptions" [value]="t.value">
              {{ t.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="w-48 min-w-48">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input
            id="name"
            name="name"
            matInput
            [(ngModel)]="nameInput"
            (change)="onNameChanged($event)"
            [disabled]="!canFilterName"
          />
        </mat-form-field>
      </div>

      <div>
        <app-custom-datepicker
          #startDatepicker
          (dateChange)="onFromChanged($event)"
          [filterDateLt]="query.createdDateLt"
          [filterDateGt]="dateRangeStart"
          [value]="dateRangeStart"
          [maxDays]="maxDays"
          label="Choose a start date"
          errorMessage="Valid date selected cannot exceed today's date. Start date must be less than end date and within 30 days"
        ></app-custom-datepicker>
      </div>

      <div>
        <app-custom-datepicker
          #endDatepicker
          (dateChange)="onToChanged($event)"
          [filterDateGt]="query.createdDateGt"
          [filterDateLt]="dateRangeEnd"
          [value]="dateRangeEnd"
          [maxDays]="maxDays"
          label="Choose an end date"
          errorMessage="Valid date selected cannot exceed today's date. End date must be later than start date and within 30 days"
        ></app-custom-datepicker>
      </div>
    </div>

    <div class="button-group row">
      <button
        mat-raised-button
        color="primary"
        (click)="onFilterClicked()"
        [disabled]="disabled || loading"
      >
        Filter
      </button>
      <button mat-raised-button (click)="onClearClicked()" [disabled]="loading">
        Clear
      </button>
    </div>
  </div>

  <app-job-table
    [query]="jobQuery"
    (loadingChange)="onLoadingChanged($event)"
  ></app-job-table>
</div>
