@import '../../theme.scss';

#root-container {
  /* Ensures that loading spinner is not clipped, even when table is empty. */
  min-height: 300px;
}

.table-checkbox-col {
  padding-right: 25px;
  width: 10px;
}

.action-box {
  border: 1px solid #ebebeb;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
  margin: 5px 0 5px 0;
}

.filter-form-wrapper {
  margin: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem 0 #ebebeb;
  border-radius: 0.25rem;
}

.job-refresh-button {
  margin-left: 16px;
}

.table-action-header {
  margin-top: 16px;
  margin-bottom: 4px;
  padding-right: 2rem;
}

.jobs-table {
  box-shadow: none;
  margin-bottom: 20px;
  margin-right: 18px;
  overflow: scroll;
}

.mat-card {
  box-shadow: none;
  font-size: 14px;
}

.mat-row {
  height: auto;
}

.mat-form-field {
  padding-left: 5px;
  padding-right: 5px;
}

#statusFilterGroup {
  scale: 80%;
}

#allJobsToggle {
  font-size: larger;
}

.mat-button-toggle:hover {
  background-color: #edededaf !important;
}

.mat-button-toggle-checked {
  background-color: #cedcf6fb;
}

.mat-form-field-infix {
  border-top: 0;
}

.mat-cell {
  padding: 5px 10px 5px 10px;
}

/* Necessary for the expandable drop-downs. */
.job-detail-row {
  height: 0;
}

.job-detail {
  overflow: hidden;
  display: flex;
}

.job-detail-text {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/* The hidden job detail panels are also 'mat-cells', so without this override,
   these 'hidden' panels would have padding even when in invisible mode. */
.mat-column-expandedDetail {
  padding: 0;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

#loading-overlay {
  background-color: #fafafa;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.loading-spinner-wrapper {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;

  /* min-height: 300px; */
  width: 100%;
  z-index: 101;
}

.mat-spinner {
  /* centers spinner */
  left: 50%;
  margin-left: -50px;
}

#no-jobs-label {
  color: #000;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

a.logbutton {
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  line-height: 20px;
  width: 100%;
}

.select-cb {
  width: 15px;
}

.norm-icon,
.progress-icon,
.error-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.error-icon {
  color: red;
}

.norm-icon,
.progress-icon {
  color: gray;
}

.progress-icon {
  animation: blink 3s ease-in infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

table {
  width: 100%;
}

.upload-status-td {
  text-align: center;
}

.icon-group-wrapper {
  display: flex;
  position: relative;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.additional-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: -0.5rem;
}
