*~
\#*
.\#*
*.o
*.pyc
*.orig
*.rej
*.swp
*.tar
*.gz
.DS_Store
.vscode
/.cache/
/.coverage
*_pb2*py
*.idea/
*pb*.ts
*pb*.js
.vscode/*
*dist/
*service_account.json
*pb*.go
src/dockerfiles/compose/override.env