<app-basic-selector #modelSelector id="modelSelector" [title]="'Select model:'"
    [placeholder]="['Pick from available model']" [options]="models" [isShown]="true"
    (select)="modelChanged($event.value)">
</app-basic-selector>

<app-basic-selector #boardSelector id="boardSelector" [title]="'Select build target:'"
    [placeholder]="['Pick from available targets']" [options]="buildTargets" [isShown]="true"
    (select)="buildTargetChanged($event.value)">
</app-basic-selector>

<app-basic-selector #milestoneSelector id="milestoneSelector" [title]="'Select milestone:'"
    [placeholder]="['Pick from milestones']" [options]="milestones" [isShown]="true"
    (select)="milestoneChanged($event.value)">
</app-basic-selector>

<div class="basic-moblab-checkbox" *ngIf="this.recommendedBuildLabel !== ''" matTooltip="{{this.getDisabledReason()}}">
    <mat-checkbox #buildDisplayToggle (change)="buildDisplayChanged()" [checked]="true" [disabled]="true">
        Show Only Recommended Builds
    </mat-checkbox>
</div>

<app-basic-selector #buildSelector id="buildSelector" [title]="'Select build:'"
    [placeholder]="['Pick from available builds']" [options]="buildVersions" [isShown]="true"
    (select)="buildVersionChanged($event.value)" [recommendedBuild]="this.showRecommendedBuilds !== ''">
</app-basic-selector>

<app-basic-selector #poolSelector id="poolSelector" [title]="'Pool (Optional):'"
    [placeholder]="['Select a pool']" [options]="pools" [isShown]="true" (select)="poolChanged($event.value)"
    *ngIf="!this.hidePoolSelector">
</app-basic-selector>
