<div class="duts-wrapper">
  <ng-container *ngIf="loading">
    <div class="loading-overlay">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="duts.length !== 0">
    <div class="selection-hint-wrapper">
      <p>Selected {{ selectionCount }} of {{ duts.length }}</p>
    </div>

    <table mat-table [dataSource]="duts">
      <!-- CheckBox -->
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="onCheckboxChanged($event)"
            [checked]="allSelected"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            (change)="onDUTCheckboxChanged(element)"
            [checked]="selection.isSelected(element)"
            [disabled]="!element.isAccessible"
            [class.checkbox-disable]="!element.isAccessible"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>DUT</th>
        <td mat-cell *matCellDef="let element">
          <div class="address-wrapper">
            <!-- Enrolled DUT -->
            <ng-container *ngIf="element.hostname !== ''">
              <!-- Enrolled and Connected DUT -->
              <div
                *ngIf="element.isConnected"
                class="material-icon icon green"
                matTooltip="DUT Connected"
              >
                sync_alt
              </div>

              <!-- Enrolled and disconnected DUT -->
              <div
                *ngIf="!element.isConnected"
                class="material-icon icon grey"
                matTooltip="DUT Disconnected"
              >
                sync_alt
              </div>
            </ng-container>

            <!-- Un-enrolled DUT -->
            <ng-container *ngIf="element.hostname === ''">
              <ng-container *ngIf="element.isServoWiredCorrectly">
                <!-- Un-enrolled and connected DUT -->
                <div
                  *ngIf="element.isAccessible"
                  class="material-icon icon orange"
                  matTooltip="Hostname Needed"
                >
                  add
                </div>

                <!-- Un-enrolled and disconnected -->
                <div
                  *ngIf="!element.isAccessible"
                  class="material-icon icon red"
                  matTooltip="Check dongle connectivity or ensure installed Test Image"
                >
                  upload_2
                </div>
              </ng-container>

              <!-- Un-enrolled and servo not detected -->
              <ng-container *ngIf="!element.isServoWiredCorrectly">
                <div
                  class="material-icon icon red"
                  matTooltip="Servo not detected"
                >
                  priority_high
                </div>
              </ng-container>
            </ng-container>

            <p>{{ element.address }}</p>
          </div>
        </td>
      </ng-container>

      <!-- Hostname Column -->
      <ng-container matColumnDef="hostname">
        <th mat-header-cell *matHeaderCellDef>Hostname</th>
        <td mat-cell *matCellDef="let element">
          <!-- Hostname is not empty means the DUT has been enrolled -->
          <ng-container *ngIf="element.hostname !== ''">
            {{ element.hostname }}
          </ng-container>

          <!-- Show the input box when DUT can be enrolled -->
          <ng-container
            *ngIf="
              element.hostname === '' &&
              element.board !== '' &&
              element.model !== '' &&
              element.isConnected
            "
          >
            <mat-form-field>
              <span matPrefix>{{ hostnamePrefix }}</span>
              <input
                matInput
                placeholder="Please input hostname"
                (focusout)="onInputFocusout(element, $event)"
                [value]="element.inputHostname ?? ''"
                [(ngModel)]="element.inputHostname"
                #name="ngModel"
                name="hostname"
                minlength="1"
                maxlength="32"
                pattern="[a-z0-9\-]+"
              />
            </mat-form-field>
            <div
              *ngIf="name.errors && (name.dirty || name.touched)"
              class="invalid-hostname error"
            >
              <div [hidden]="!name.errors.minlength">
                Hostname must be at least 1 characters long.
              </div>
              <div [hidden]="!name.errors.maxlength">
                Hostname cannot be more than 32 characters long.
              </div>
              <div [hidden]="!name.errors.pattern">
                Hostname should be a-z, 0-9, - characters.
              </div>
            </div>
          </ng-container>

          <!-- Show the Access Test Build Button when DUT hasn't been deployed and isn't connected -->
          <ng-container *ngIf="!element.isConnected && element.hostname === ''">
            <button
              mat-button
              (click)="onAccessTestBuildClicked()"
              class="access-build-button"
            >
              Access Test Build
            </button>
          </ng-container>
        </td>
      </ng-container>

      <!-- Build Target Column -->
      <ng-container matColumnDef="board">
        <th mat-header-cell *matHeaderCellDef>Board</th>
        <td mat-cell *matCellDef="let element">{{ element.board }}</td>
      </ng-container>

      <!-- Model Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let element">{{ element.model }}</td>
      </ng-container>

      <!-- Servo serial Column -->
      <ng-container matColumnDef="servo_serial">
        <th mat-header-cell *matHeaderCellDef>Servo Serial</th>
        <td mat-cell *matCellDef="let element">
          {{ element.servoSerial ?? '--' }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span
            [matTooltip]="element.statusHintText"
            [class.status-red]="
              element.status === 'needs_deploy' ||
              element.status === 'needs_manual_repair' ||
              element.status === 'needs_replacement'
            "
            [class.status-orange]="
              element.status === 'unknown' ||
              element.status === 'needs_repair' ||
              element.status === 'repair_failed'
            "
            [class.status-green]="element.status === 'ready'"
          >
            {{ element.status }}</span
          >
        </td>
      </ng-container>

      <!-- Pools Column -->
      <ng-container matColumnDef="pools">
        <th mat-header-cell *matHeaderCellDef>Pools</th>
        <td mat-cell *matCellDef="let element">{{ element.poolString }}</td>
      </ng-container>

      <!-- MAC Address Column -->
      <ng-container matColumnDef="mac">
        <th mat-header-cell *matHeaderCellDef>MAC</th>
        <td mat-cell *matCellDef="let element">{{ element.mac }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
</div>
