@import '../../../constants';

.duts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  width: 100%;
  min-height: 300px;

  .selection-hint-wrapper {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }

  .loading-overlay {
    align-items: start;
  }

  .mat-mdc-table {
    .mdc-data-table__cell,
    .mdc-data-table__header-cell {
      padding: 0 0.5rem;
    }

    .mat-mdc-header-cell {
      min-width: 10rem;
      max-width: 10rem;
      white-space: pre-wrap;
      font-size: $font-size-title;
      font-weight: $font-size-title;
    }

    .mat-mdc-cell {
      min-width: 10rem;
      max-width: 10rem;
      white-space: pre-wrap;
    }

    .mat-mdc-cell.cdk-column-check,
    .mat-mdc-header-cell.cdk-column-check {
      max-width: 3.5rem;
      min-width: 3.5rem;
    }

    .mat-mdc-cell.cdk-column-hostname,
    .mat-mdc-header-cell.cdk-column-hostname {
      max-width: 400px;
      min-width: 400px;
    }

    .mat-mdc-cell.cdk-column-board,
    .mat-mdc-header-cell.cdk-column-board,
    .mat-mdc-cell.cdk-column-model,
    .mat-mdc-header-cell.cdk-column-model {
      min-width: 5rem;
      max-width: 10rem;
    }

    .mat-mdc-cell.cdk-column-servo_serial,
    .mat-mdc-header-cell.cdk-column-servo_serial {
      max-width: 13rem;
      min-width: 13rem;
      white-space: nowrap;
    }

    .mat-mdc-cell.cdk-column-mac,
    .mat-mdc-header-cell.cdk-column-mac {
      max-width: 8.5rem;
      min-width: 8.5rem;
    }

    .mat-mdc-cell.cdk-column-status,
    .mat-mdc-header-cell.cdk-column-status {
      max-width: 10rem;
      min-width: 8.5rem;
    }

    .mat-mdc-cell.cdk-column-ip,
    .mat-mdc-header-cell.cdk-column-ip {
      max-width: 164px;
      min-width: 164px;
    }

    .checkbox-disable {
      opacity: 0.2;
    }

    .invalid-hostname.error {
      padding-bottom: 0.5rem;
      color: $color-error;
      font-size: $font-size-small;
      font-weight: $font-weight-small;
    }

    .access-build-button {
      color: $color-link;
      font-size: $font-size-small;
    }

    .address-wrapper {
      display: flex;
      flex-direction: row;
      column-gap: 0.25rem;
      align-items: center;
    }

    .icon {
      width: 24px;
      height: 24px;
      &.green {
        color: $color-deep-green;
      }

      &.grey {
        color: $color-deep-grey;
        opacity: 30%;
      }

      &.red {
        color: $color-error;
      }

      &.orange {
        color: $color-warn;
      }
    }

    .status-red {
      color: $color-dut-status-red;
    }

    .status-orange {
      color: $color-dut-status-orange;
    }

    .status-green {
      color: $color-dut-status-green;
    }
  }
}
