<div id="duts-refresh-button-wrapper">
  <div id="duts-selected-count">
    <span>Selected {{getNumSelectedDuts()}} of {{duts.data.length}}</span>
  </div>
  <button id="duts-refresh-button" matTooltip="Refresh" mat-icon-button (click)="refreshConnectedDuts()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<div>
  <table mat-table id="view-duts-table" [dataSource]="duts" matSort>
    <ng-container matColumnDef="select">
      <th class="select-column-header" mat-header-cell *matHeaderCellDef>
        <app-table-header-selector [options]="selectOptions" (update)="selectionChanged($event)">
        </app-table-header-selector>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox class="select-column" (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
          [disabled]="!row.getIsConnected()">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="ip">
      <th class="m-column" mat-header-cell mat-sort-header *matHeaderCellDef>DUT</th>
      <td mat-cell *matCellDef="let element">{{element.getIp()}}</td>
    </ng-container>

    <ng-container matColumnDef="mac">
      <th class="m-column" mat-header-cell mat-sort-header *matHeaderCellDef>MAC</th>
      <td mat-cell *matCellDef="let element">{{element.getMacAddr()}}</td>
    </ng-container>

    <ng-container matColumnDef="buildtarget">
      <th class="m-column" mat-header-cell mat-sort-header *matHeaderCellDef>
        Build Target
      </th>
      <td mat-cell *matCellDef="let element">{{element.getBuildTarget()}}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th class="m-column" mat-header-cell mat-sort-header *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let element">
        {{element.getModel()}}
        <button mat-button color="primary" (click)="accessTestBuild()" *ngIf="!element.getIsConnected()">
          Access Test Build
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="m-column" mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{intToDutStatus[element.getStatus()]}}</td>
    </ng-container>

    <ng-container matColumnDef="pools">
      <th class="m-column" mat-header-cell *matHeaderCellDef>Pools</th>
      <td mat-cell *matCellDef="let element">{{element.getPoolsList()}}</td>
    </ng-container>

    <ng-container matColumnDef="labels">
      <th class="xl-column" mat-header-cell *matHeaderCellDef>Labels/Attributes</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip class="label-mat-chip" *ngFor="let label of element.getLabelsList()">
            {{label}}
          </mat-chip>
          <mat-chip class="attribute-mat-chip" *ngFor="let attribute of element.getAttributesList()">
            {{attribute}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" matTooltip="{{this.getDisabledReason(row)}}"
      [routerLink]="row.getIsConnected() && row.getIsEnrolled() && this.hasAccessToBuildTarget(row) ? ['/dut_detail', row.getIp()] : []"
      [attr.notConnected]="!row.getIsConnected()" [attr.noAccessToBuildTarget]="!this.hasAccessToBuildTarget(row)"
      [hidden]="this.hideUnenrolledDuts && !row.getIsEnrolled() "></tr>
  </table>
  <div id="loading-overlay" *ngIf="loading">
    <div class="loading-spinner-wrapper">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </div>
</div>
