#duts-refresh-button {
  float: right;
}

#duts-selected-count {
  float: left;
  margin-left: 16px;
  margin-top: 16px;
  font-size: 12px;
}

#duts-refresh-button-wrapper {
  width: 100%;
  display: inline-block;
}

#loading-overlay {
  background-color: #fafafa;
  height: 100%;
  opacity: .8;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.filter-cb {
  float: right;
}

.loading-spinner-wrapper {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  top:20%;
  width: 100%;
  z-index: 101;
}

.mat-checkbox {
  /* creates dead-zone around check-box that won't click-through to dut-details */
  padding: 12px;
}

.mat-row:focus {
  outline: none;
}

.mat-row[notConnected='true'] {
  background: #FFEBEE;
}

.mat-row[noAccessToBuildTarget='true'] {
  background: #FEF7E0;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

.spinner {
  left: 43%;
}

.label-mat-chip, .attribute-mat-chip {
  margin: 1px !important;
  padding: 0px 4px !important;
  font-size: 12px;
  font-weight: 500;
  min-height: 22px;
  height: auto;
}

.attribute-mat-chip {
  background-color: white;
  border: 1px solid gray;
}

/* make some space around cells */
.m-column {
  width: 10%;
  /* figure out why max-width does not work */
  max-width: 180px;
}

.xl-column {
  min-width: 180px;
}

/* make some space around cells */
td.mat-cell {
  padding: 6px 6px;
}

th.mat-header-cell {
  padding: 6px;
}

/* fix select column size */
.select-column-header {
  width: 30px;
}

.select-column {
  padding-left: 0px;
}