<div class="duts-wrapper">
  <ng-container *ngIf="loading">
    <div class="loading-overlay">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </ng-container>


  <ng-container *ngIf="duts.length !== 0">
    <div class="selection-hint-wrapper">
      <p>Selected {{ selectionCount }} of {{ duts.length }}</p>
    </div>

    <table mat-table [dataSource]="duts">
      <!-- CheckBox -->
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="onCheckboxChanged($event)"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (change)="onDUTCheckboxChanged(element)" [checked]="selection.isSelected(element)"
                        [disabled]="!element.isAccessible" [class.checkbox-disable]="!element.isAccessible">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>DUT</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <!-- Hostname Column -->
      <ng-container matColumnDef="hostname">
        <th mat-header-cell *matHeaderCellDef>Hostname</th>
        <td mat-cell *matCellDef="let element">
          <!-- Hostname is not empty means the DUT has been enrolled -->
          <ng-container *ngIf="element.hostname !== ''">
            {{ element.hostname }}
          </ng-container>

          <ng-container
            *ngIf="element.hostname === '' && element.board !== '' && element.model !== '' && element.isConnected"
          >
            <mat-form-field>
              <span matPrefix>{{ hostnamePrefix }}</span>
              <input matInput placeholder="Please input hostname" (focusout)="onInputFocusout(element, $event)"
                     [value]="element.inputHostname ?? ''"/>
            </mat-form-field>

          </ng-container>
        </td>
      </ng-container>

      <!-- Build Target Column -->
      <ng-container matColumnDef="board">
        <th mat-header-cell *matHeaderCellDef>Board</th>
        <td mat-cell *matCellDef="let element">{{ element.board }}</td>
      </ng-container>

      <!-- Model Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let element">{{ element.model }}</td>
      </ng-container>

      <!-- Servo serial Column -->
      <ng-container matColumnDef="servo_serial">
        <th mat-header-cell *matHeaderCellDef>Servo Serial</th>
        <td mat-cell *matCellDef="let element">{{ element.servoSerial ?? '--' }}</td>
      </ng-container>

      <!-- Pools Column -->
      <ng-container matColumnDef="pools">
        <th mat-header-cell *matHeaderCellDef>Pools</th>
        <td mat-cell *matCellDef="let element">{{ element.poolString }}</td>
      </ng-container>

      <!-- MAC Address Column -->
      <ng-container matColumnDef="mac">
        <th mat-header-cell *matHeaderCellDef>MAC</th>
        <td mat-cell *matCellDef="let element">{{ element.mac }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
          [class.without-access]="!row.isAccessible"
          [class.unconnected]="!row.isConnected && row.hostname !== ''"></tr>
    </table>
  </ng-container>
</div>
