# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
six==1.15.0
wheel
future
requests
google-cloud-storage==1.16.0
google-cloud-pubsub
docker
parallel-ssh
python-nmap