<div
  class="wrapper"
  matTooltip="{{ disabledMessage }}"
  matTooltipPosition="right"
  appClickDetector
  (outside)="onOutsideClicked()"
>
  <div class="selector-wrapper">
    <mat-form-field class="full-width zero-padding">
      <mat-label>{{ title }}</mat-label>
      <input
        #search
        [formControl]="searchFormControl"
        [placeholder]="placeholder"
        (click)="onInputClicked()"
        (change)="onInputChanged()"
        matInput
      />
    </mat-form-field>
  </div>

  <ng-container *ngIf="isOpened()">
    <div class="items-wrapper">
      <mat-list role="list">
        <mat-list-item
          (click)="onOptionClicked(option.label === 'Failed' ? null : option)"
          *ngFor="let option of filteredOptions"
          [disabled]="option.label === 'Failed'"
          class="item"
          role="listitem"
        >
          {{ option.text }}
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</div>
