<div class="w-full flex flex-row">
  <button
    (click)="onTabChanged('suite')"
    class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
    [class.active]="tabSignal() === 'suite'"
  >
    Suite
  </button>

  <button
    (click)="onTabChanged('test')"
    class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
    [class.active]="tabSignal() === 'test'"
  >
    Tests
  </button>

  <button
    (click)="onTabChanged('Testplan')"
    class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
    [class.active]="tabSignal() === 'Testplan'"
  >
    Testplan
  </button>
</div>

<div
  class="relative w-full lg:max-w-3xl mx-auto my-[4rem] px-6 pt-0 pb-6 border box-shadow rounded"
>
  <app-loading [loading$]="loading$"></app-loading>
  <div class="min-h-[1.5rem]">
    <p class="text-red-500 text-center">{{ notAvailableMsg() }}</p>
  </div>
  <div class="flex gap-2 w-full flex-col">
    <app-basic-selector
      (select)="onPropsChanged('board', $event)"
      [options]="boardOptions()"
      [disabled]="isRunLoadingSignal()"
      title="Select Board:"
    >
    </app-basic-selector>

    <app-basic-selector
      (select)="onPropsChanged('model', $event)"
      [options]="modelsOptions()"
      [value]="modelSignal()"
      [disabled]="isRunLoadingSignal()"
      title="Select Model (Optional):"
    >
    </app-basic-selector>

    <app-basic-selector
      (select)="onPropsChanged('branch', $event)"
      [options]="branchOptions()"
      [value]="branchSignal()"
      [disabled]="isRunLoadingSignal()"
      title="Select Branch:"
    >
    </app-basic-selector>

    <app-basic-selector
      (select)="onPropsChanged('boardTarget', $event)"
      [options]="boardTargetOptions()"
      [disabled]="isRunLoadingSignal()"
      title="Select Board Target:"
    >
    </app-basic-selector>

    <app-basic-selector
      (select)="onPropsChanged('suiteTarget', $event)"
      [options]="suiteTargetOptions()"
      [disabled]="isRunLoadingSignal()"
      title="Select Suite Target:"
    >
    </app-basic-selector>

    <app-basic-selector
      (select)="onPropsChanged('pool', $event)"
      [options]="poolsOptions()"
      [disabled]="isRunLoadingSignal()"
      title="Select Pool:"
    >
    </app-basic-selector>

    <app-autocomplete-selector
      [options]="buildOptions()"
      title="Select Build:"
      (selectChanged)="onPropsChanged('build', $event)"
      (inputValueChanged)="onBuildInputValueChanged($event)"
    ></app-autocomplete-selector>

    <div *ngIf="tabSignal() !== 'Testplan'">
      <app-suite
        [build]="validBuildSignal()"
        [target]="targets()"
        [suite]="suiteSignal()"
        [testTitle]="tabSignal() === 'test' ? 'Test Include:' : 'Test Exclude:'"
        [selectedTestModules]="testModulesSignal()"
        (onSuiteChanged)="onPropsChanged('suite', $event)"
        (onTestModulesChanged)="onPropsChanged('testModules', $event)"
        (onLoadingChanged)="onChildLoadingChanged($event)"
        (onSuiteValidChanged)="onChildSuiteValidChanged($event)"
      >
        <div class="advancedSettings">
          <app-advanced-settings
            [customSettings]="customSettings()"
            (settingsChanged)="onCustomSettingsChanged($event)"
          >
          </app-advanced-settings>
        </div>
      </app-suite>
    </div>

    <div *ngIf="tabSignal() === 'Testplan'">
      <app-test-plan
        (changed)="onPlanChanged($event)"
        (autoQual)="onAutoQualChanged($event)"
      >
        <div class="advancedSettings">
          <app-advanced-settings
            [disabled]="true"
            [customSettings]="{maxInShard: 10000}"
          >
          </app-advanced-settings>
        </div>
      </app-test-plan>
    </div>

    <app-loading-button
      class="mx-auto"
      (onClick)="onRunClicked()"
      [disabled]="!_isRunnable()"
      [loading]="isRunLoadingSignal()"
      [text]="'Run'"
    ></app-loading-button>
  </div>
</div>
