<div class="w-full flex flex-row">
  <button
    (click)="onTabChanged('suite')"
    class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
    [class.active]="tabSignal() === 'suite'"
  >
    Suite
  </button>

  <button
    (click)="onTabChanged('test')"
    class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
    [class.active]="tabSignal() === 'test'"
  >
    Tests
  </button>

  <button
    (click)="onTabChanged('testplan')"
    class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
    [class.active]="tabSignal() === 'testplan'"
  >
    Testplan
  </button>
</div>

<div
  class="relative w-full lg:max-w-3xl mx-auto my-[4em] px-6 pt-0 pb-6 border box-shadow rounded gap-4 flex flex-col"
>
  <app-loading #runLoading [loading$]="isRunLoading$"></app-loading>
  <app-show-dut
    [model]="modelSignal()"
    [isParentLoading]="forceShowDutLoading()"
    [selectorList]="['pool', 'board', 'model']"
    (valuesChanged)="onDutRelatedValueChanged($event)"
    (dutsChanged)="onDutChanged($event)"
  >
  </app-show-dut>
  <app-provision-form
    [duts]="duts()"
    [board]="boardSignal()"
    [model]="modelSignal()"
    [parentLoading]="isRunLoadingSignal().show"
    (provisionFormDataChange)="onProvisionFormChanged($event)"
    (isLoadingChanged)="onProvisionLoadingChanged($event)"
  ></app-provision-form>

  <app-test-options-card
    [errorMsg]="testOptionsErrorMsg()"
    [loading$]="testOptionsLoading$"
  >
    <app-test-source-picker
      [isTestplan]="isTestPlanTab()"
      [duts]="duts()"
      [board]="boardSignal()"
      [model]="modelSignal()"
      [parentLoading]="isRunLoadingSignal().show"
      (sourceValuesChanged)="onSourceValuesChanged($event)"
      (isLoadingChanged)="onAndroidBuildPickerLoadingChanged($event)"
      (errorsChanged)="onTestOptionsErrorsChanged($event)"
    ></app-test-source-picker>

    <div class="mt-4">
      <!-- Android Build Suite/Test Picker -->
      <app-suite
        *ngIf="selectAndroidBuild() && (isTestTab() || isSuiteTab())"
        [branch]="basicFieldsSignal().buildValues.branch"
        [build]="basicFieldsSignal().buildValues.build"
        [target]="basicFieldsSignal().buildValues.target"
        [duts]="duts()"
        [board]="boardSignal()"
        [model]="modelSignal()"
        [isTest]="isTestTab()"
        (onLoadingChanged)="onSuiteLoadingChanged($event)"
        (valuesChanged)="onSuiteValuesChanged($event)"
      ></app-suite>

      <div class="relative w-full my-2 mt-4" *ngIf="isTestPlanTab()">
        <input
          #testplanInput
          type="text"
          class="w-full peer block border-b border-gray-400 pb-2 pt-6 focus:border-blue-500 bg-transparent outline-none text-sm font-light font-sans cursor-text"
          (input)="onTestplanInputChanged(testplanInput.value)"
          [value]="testplanSignal()"
        />
        <label
          class="pointer-events-none absolute top-4 origin-[0] -translate-y-3 scale-75 duration-150 text-gray-400 font-sans font-light peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-500"
          >Test Plan</label
        >
      </div>

      <!-- Google Drive Test Module Inputs -->
      <ng-container *ngIf="!selectAndroidBuild() && !isTestPlanTab()">
        <div class="flex flex-row items-center justify-between">
          <mat-form-field
            class="w-full [&_.mat-mdc-text-field-wrapper.mdc-text-field]:p-0"
            matTooltipPosition="below"
          >
            <mat-label>{{
              isTestTab() ? 'Test Include:' : 'Test Exclude:'
            }}</mat-label>
            <input
              matInput
              (input)="onDriveTestModuleInputChanged($event.target.value)"
              [value]="driveTestModuleSignal()"
            />
          </mat-form-field>
          <button
            matSuffix
            mat-icon-button
            type="button"
            [disabled]="driveTestModuleSignal() === ''"
            (click)="onAddTestClicked()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="flex flex-col gap-2 mt-2">
          <div
            class="flex flex-row items-center gap-2 justify-between"
            *ngFor="
              let item of selectedDriveTestModulesSignal();
              let index = index
            "
          >
            <span class="text-sm">{{ item }}</span>
            <mat-icon
              class="cursor-pointer"
              (click)="onRemoveTestClicked(index)"
              >delete</mat-icon
            >
          </div>
        </div>
      </ng-container>
    </div>
  </app-test-options-card>

  <div class="advancedSettings">
    <app-settings
      #settingsRef
      [defaultSettings]="isTestPlanTab() ? testplanSettings : settings"
      [customSettings]="customSettings()"
      (settingsChanged)="onCustomSettingsChanged($event)"
    ></app-settings>
  </div>

  <app-loading-button
    class="mx-auto"
    (onClick)="onRunClicked()"
    [disabled]="!_isRunnable()"
    [loading]="isRunLoadingSignal().show"
    [text]="'Run'"
  ></app-loading-button>
</div>
