<div>
  <app-build-select-forms
    (allRequiredFieldsSet)="onBuildSet($event)"
    (allRequiredFieldsSet)="validateStorageQualSetup()"
    (buildVersionUnselected)="onBuildVersionUnselected()"
    (formLoading)="onFormLoading($event.message)"
    (formLoaded)="onFormLoaded()"
  >
  </app-build-select-forms>

  <div class="storage-check-validatrion">
    <mat-error *ngIf="storageQualCheckError">{{
      storageQualCheckError
    }}</mat-error>
  </div>

  <app-basic-selector
    #variationInput
    [title]="'Select suite variation (Optional):'"
    [options]="variationOptions"
    [placeholder]="['Select a variation']"
    [isShown]="true"
    (select)="variationChanged($event.value)"
  >
  </app-basic-selector>

  <app-basic-input
    #bugIdInput
    [name]="'AVL Process Bug ID'"
    [isNumeric]="true"
    (update)="inputChanged()"
  >
  </app-basic-input>

  <app-basic-input
    #partNumberInput
    [name]="'AVL Part Number'"
    (update)="inputChanged()"
  >
  </app-basic-input>

  <app-new-update-notifier></app-new-update-notifier>

  <app-run-suite-button (onClick)="onRunSuiteClick()"></app-run-suite-button>
</div>
