<div class="wrapper">
  <div class="cloud-configuration-wrapper">
    <ng-container *ngIf="cloudConfigurationLoading">
      <div class="loading-overlay">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </ng-container>

    <div class="header">
      <p class="title">Cloud Configuration</p>
      <span
        class="material-icon edit-icon"
        *ngIf="cloudConfigurationDisable"
        (click)="editConfig()"
        >edit_note</span
      >
    </div>

    <!-- Boto key input box-->
    <div class="input-box-container">
      <p>Boto Key ID*</p>
      <mat-form-field class="input-box full-width">
        <input
          matInput
          [(ngModel)]="boto.key"
          required
          [disabled]="cloudConfigurationDisable"
        />
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Boto secret input box-->
    <div class="input-box-container">
      <p>Boto Key Secret*</p>
      <mat-form-field class="input-box full-width">
        <input
          type="password"
          matInput
          [(ngModel)]="boto.secret"
          required
          [disabled]="cloudConfigurationDisable"
        />
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <!-- bucket input box-->
    <div class="input-box-container">
      <p>GCS Bucket*</p>
      <mat-form-field class="input-box full-width">
        <input
          matInput
          [(ngModel)]="boto.bucket"
          required
          [disabled]="cloudConfigurationDisable"
        />
        <span matPrefix>gs://</span>
        <div matSuffix class="bucket-wrapper">
          <span>/</span>
          <span>
            <mat-icon
              id="link-off-icon"
              *ngIf="!cloudConfigurationDisable"
              class="link-icon"
              >link_off</mat-icon
            >
            <ng-container *ngIf="cloudConfigurationDisable">
              <a
                id="gcs-link"
                href="{{
                  'https://console.cloud.google.com/storage/browser/' +
                    boto.bucket +
                    '/'
                }}"
                target="_blank"
                ><mat-icon id="link-on-icon" class="link-icon"
                  >link</mat-icon
                ></a
              >
            </ng-container>
          </span>
        </div>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Button Group -->
    <div class="btn-group">
      <button
        mat-raised-button
        color="warn"
        *ngIf="editingBoto.key !== '' && !cloudConfigurationDisable"
        (click)="cancelEditing()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="
          !(boto.key !== '' && boto.secret !== '' && boto.bucket !== '') ||
          cloudConfigurationDisable
        "
        (click)="onSetCloudConfigurationClicked()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
