@use '../../../../constants.scss' as *;

.selector-wrapper {
  .title {
    font-size: $font-size-normal;
    color: $color-primary-blue;
    font-weight: $font-weight-normal;

    &.disabled {
      color: $color-deep-grey;
    }
  }
}
