<div class="settings-wrapper">
  <mat-accordion>
    <mat-expansion-panel #settings [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Advanced settings</mat-panel-title>
        <mat-icon *ngIf="!settings.expanded">arrow_drop_down</mat-icon>
        <mat-icon *ngIf="settings.expanded">arrow_drop_up</mat-icon>
      </mat-expansion-panel-header>
      <div class="flex flex-col gap-4">
        <div *ngIf="customSettings.hasOwnProperty('extraTestFilter')">
          <div class="flex flex-row gap-4">
            <mat-slide-toggle
              (change)="onExtraTestFilterChanged($event.checked)"
              [checked]="(settings$ | async).extraTestFilter && !disabled"
              [disabled]="disabled"
              >Extra Test Filters
            </mat-slide-toggle>
          </div>
        </div>
        <div *ngIf="customSettings.hasOwnProperty('editTopology')">
          <div class="flex flex-row gap-4">
            <mat-slide-toggle
              (change)="onEditTopologyChanged($event.checked)"
              [checked]="(settings$ | async).editTopology && !disabled"
              [disabled]="disabled"
              >Edit Topology
            </mat-slide-toggle>
          </div>
        </div>
        <div *ngIf="customSettings.hasOwnProperty('testArgs')">
          <div class="flex flex-row gap-4">
            <mat-slide-toggle
              (change)="onTestArgsChanged($event.checked)"
              [checked]="(settings$ | async).testArgs && !disabled"
              [disabled]="disabled"
              >Extra Test Arguments
            </mat-slide-toggle>
          </div>
        </div>
        <div *ngIf="customSettings.hasOwnProperty('cft')">
          <div class="flex flex-row gap-4">
            <mat-slide-toggle
              (change)="onCftChanged($event.checked)"
              [checked]="(settings$ | async).cft && !disabled"
              [disabled]="disabled"
              >CFT execution framework
            </mat-slide-toggle>
          </div>
        </div>

        <div *ngIf="customSettings.hasOwnProperty('trv2')">
          <div class="flex flex-row gap-4">
            <mat-slide-toggle
              (change)="onTrv2Changed($event.checked)"
              [checked]="(settings$ | async).trv2 && !disabled"
              [disabled]="disabled"
              >Test Runner V2
            </mat-slide-toggle>
          </div>
        </div>

        <div *ngIf="customSettings.hasOwnProperty('uploadToCpcon')">
          <div class="flex flex-row gap-4">
            <mat-slide-toggle
              (change)="onUploadToCpconChanged($event.checked)"
              [checked]="(settings$ | async).uploadToCpcon && !disabled"
              [disabled]="disabled"
              >Upload to CPCON
            </mat-slide-toggle>
          </div>
        </div>

        <div
          *ngIf="customSettings.hasOwnProperty('maxInShard')"
          class="flex flex-row gap-4 justify-center"
        >
          <div class="relative flex flex-col gap-1">
            <label
              for="shard"
              class="text-blue-500 text-md"
              [class.text-gray-300]="disabled"
              >Maximum number of test modules in one shard</label
            >
            <input
              type="number"
              min="0"
              max="65536"
              [value]="(settings$ | async).maxInShard | safeNumber"
              (input)="onShardInputChanged($event)"
              required
              class="peer invalid:text-red-500 w-[360px] outline-none h-12 border-b border-b-gray-600 focus:border-b-blue-500 bg-transparent invalid:border-b-red-500"
              id="shard"
              [class.text-gray-300]="disabled"
              [disabled]="disabled"
            />
            <p
              class="peer-invalid:text-red-500 peer-invalid:block hidden text-sm"
            >
              Must be an integer between 0 ~ 65536
            </p>
          </div>
        </div>

        <div *ngIf="customSettings.hasOwnProperty('servoRequired')">
          <div class="flex flex-row gap-4">
            <mat-slide-toggle (change)="onServoRequiredChanged($event.checked)"
              >Require Servo
            </mat-slide-toggle>
          </div>
        </div>
<div *ngIf="customSettings.hasOwnProperty('skipBootPrerequisite')">
  <div class="flex flex-row gap-4">
    <mat-slide-toggle (change)="onSkipBootPrerequisiteChanged($event.checked)"
      [checked]="(settings$ | async).skipBootPrerequisite && !disabled" [disabled]="disabled">Skip boot prerequisite
    </mat-slide-toggle>
  </div>
</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
