<div class="detail-wrapper flex flex-col p-4 gap-y-1">
  <p class="title text-lg font-bold">Fetch DUT details:</p>

  <div class="flex flex-row gap-x-2 items-center pb-10">
    <div class="w-56 input-box-container without-border">
      <mat-form-field id="query-dut-by-id-box" class="without-underline">
        <mat-label>DUT IP Address:</mat-label>
        <input id="dut-query-input" matInput [formControl]="dutQuery" />
      </mat-form-field>
    </div>
    <div class="w-16">
      <button
        id="dut-query-button"
        mat-raised-button
        color="primary"
        (click)="fetchDutDetails()"
        [disabled]="!this.dutQuery.value"
        class="full-width"
      >
        Go
      </button>
    </div>
    <div class="w-28">
      <button
        mat-raised-button
        color="primary"
        id="repair-button"
        [disabled]="isDutInfoEmpty || !this.dutQuery.value"
        (click)="repairDut()"
        class="full-width"
      >
        Repair DUT
      </button>
    </div>
    <div class="w-32">
      <button
        mat-raised-button
        color="primary"
        id="reverify-button"
        [disabled]="isDutInfoEmpty || !this.dutQuery.value"
        (click)="reverifyDut()"
        class="full-width"
      >
        Reverify DUT
      </button>
    </div>
    <div class="w-56 input-box-container without-border">
      <mat-form-field class="without-underline">
        <mat-label>Servo Serial Number:</mat-label>
        <input
          id="set-servo-serial-input"
          matInput
          [formControl]="servoSerialNumber"
        />
        <mat-error *ngIf="this.servoSerialNumber.hasError('pattern')">
          Invalid serial number, check the label on your servo.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="w-16">
      <button
        mat-raised-button
        color="primary"
        id="add-servo-serial-number-button"
        (click)="addServo()"
        [disabled]="
          !this.servoSerialNumber.value || !this.servoSerialNumber.valid
        "
        class="full-width"
      >
        Set
      </button>
    </div>
    <div class="w-12">
      <button
        id="dut-refresh-button"
        matTooltip="Refresh"
        mat-icon-button
        [disabled]="!this.dutQuery.value"
        (click)="fetchDutDetails()"
        class="full-width"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div id="dut-detail-table-wrapper" class="content-wrapper">
    <ng-container *ngIf="isDutInfoEmpty">
      <div class="overlayout">
        <p>No DUT data fetched.</p>
      </div>
    </ng-container>
    <div class="details" [class.active]="!isDutInfoEmpty">
      <app-keyval-table #dut_info_table></app-keyval-table>

      <mat-divider></mat-divider>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Jobs Associated with this DUT</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-view-jobs
            #associated_jobs_table
            manualPopulate="true"
            hideActionBar="true"
            hideFilters="false"
            hideSelectors="true"
            pageSizeOverride="10"
          >
          </app-view-jobs>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-divider></mat-divider>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>DUT Actions History</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-dut-task-table #dut_task_table></app-dut-task-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
