.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-bottom: 2rem;

  button {
    width: 12rem;
    height: 2.5rem;
  }

  .settings-wrapper {
    mat-expansion-panel {
      box-shadow: none;

      .mat-expansion-panel-header {
        padding-right: 7px;
        background-color: rgb(251, 251, 251);
      }
    }
  }
}
