<div class="suite-content">
  <div class="wrapper">
    <app-build-select-form
      (allRequiredFieldsSet)="allRequiredFieldsSet($event)"
      (onInitComplete)="listTestPlans()"
    ></app-build-select-form>

    <div class="input-wrapper">
      <div class="form-group">
        <app-autocomplete-selector
          #testPlanSelector
          id="testPlanSelector"
          title="Please select a testplan:"
          placeholder="Please select available testplan"
          (selectChanged)="onSelectedTestPlanChanged($event)"
          [options]="testPlanOptions"
          [errorMessage]="errorMessage"
        >
        </app-autocomplete-selector>
      </div>
    </div>

    <div
      class="card-wrapper"
      *ngFor="let testplan of selectedTestPlan; let i = index"
    >
      <div class="card-group">
        <span class="card-content">Test {{ i + 1 }}: {{ testplan.name }}</span>
        <button
          matTooltip="Remove test"
          color="basic"
          class="delete-btn"
          (click)="onRemoveTestPlanClick(i)"
        >
          <div class="material-icon">delete</div>
        </button>
      </div>
    </div>
    <app-advanced-settings
      (settingsChanged)="onAdvancedSettingsChanged($event)"
      [disabled]="settingsDisabled"
      [customSettings]="customSettings"
    ></app-advanced-settings>

    <div class="flex justify-center py-4">
      <app-loading-button
        (onClick)="onRunTestPlanClick()"
        [disabled]="disabled"
        [loading]="isRunning"
        [text]="'Run'"
      ></app-loading-button>
    </div>
    <div *ngIf="selectedTestPlan" class="px-6">
      <pre class="whitespace-pre-wrap">{{ selectedTestPlan.content }}</pre>
    </div>
  </div>
</div>
