<div class="wrapper">
  <app-build-select-form
    (allRequiredFieldsSet)="allRequiredFieldsSet($event)"
    (onInitComplete)="listTestPlans()"
  ></app-build-select-form>

  <div class="px-6">
    <app-autocomplete-selector
      #testPlanSelector
      id="testPlanSelector"
      title="Please select a testplan:"
      placeholder="Please select available testplan"
      (inputChanged)="onTestPlanChanged($event)"
      [options]="testPlanOptions"
      [errorMessage]="errorMessage"
    >
    </app-autocomplete-selector>
  </div>

  <div class="settings-wrapper">
    <mat-accordion>
      <mat-expansion-panel #settings [hideToggle]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Advanced settings</mat-panel-title>
          <mat-icon *ngIf="!settings.expanded">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="settings.expanded">arrow_drop_up</mat-icon>
        </mat-expansion-panel-header>
        <div class="flex flex-row gap-4">
          <mat-slide-toggle [(ngModel)]="isCFT" (change)="onCFTChange($event)"
            >CFT execution framework</mat-slide-toggle
          >
          <span
            class="material-icon"
            matTooltip="If you select a custom build, this flag will be disabled
                automatically. Even though the flag is enabled."
            >info
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="flex justify-center py-4">
    <button
      mat-raised-button
      color="primary"
      (click)="onRunTestPlanClick()"
      [disabled]="disabled"
    >
      Run TestPlan
    </button>
  </div>

  <div class="px-6" *ngIf="selectedTestPlan">
    <pre class="whitespace-pre-wrap">{{ selectedTestPlan.content }}</pre>
  </div>
</div>
