@use '../../../constants.scss' as *;

.wrapper {
  width: 100%;
  position: relative;
  padding: 1rem;

  .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    position: relative;

    button {
      height: 2.5rem;
    }
  }

  .duts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 100%;
    min-height: 300px;

    .selection-hint-wrapper {
      display: inline-block;
      margin-top: 1.5rem;
      padding: 0.5rem 0;
      font-size: 0.9rem;
    }

    .mat-mdc-table {
      .mat-mdc-header-cell {
        min-width: 10rem;
        max-width: 10rem;
        white-space: pre-wrap;
      }

      .mat-mdc-cell {
        min-width: 10rem;
        max-width: 10rem;
        white-space: pre-wrap;
      }
    }
  }
}
