<div class="wrapper">
  <div class="btn-group">
    <button
      (click)="onUpdateClicked()"
      [disabled]="selection.selected.length === 0 || loading"
      color="primary"
      mat-raised-button
    >
      Update Firmware
    </button>
  </div>

  <div class="duts-wrapper">
    <ng-container *ngIf="loading">
      <div class="loading-overlay">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="DUTs.length !== 0">
      <div class="selection-hint-wrapper">
        <p>Selected {{ selectionCount }} of {{ DUTs.length }}</p>
      </div>

      <table [dataSource]="DUTs" mat-table>
        <!-- CheckBox -->
        <ng-container matColumnDef="check">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
              (change)="onCheckboxChanged($event)"
              [(ngModel)]="checked"
              [disabled]="disabled"
            ></mat-checkbox>
          </th>
          <td *matCellDef="let element" mat-cell>
            <mat-checkbox
              (change)="onDUTCheckboxChanged(element)"
              [checked]="selection.isSelected(element)"
              [disabled]="element.isLatest"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="ip">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let element" mat-cell>{{ element.address }}</td>
        </ng-container>

        <!-- Current Firmware Column -->
        <ng-container matColumnDef="current">
          <th *matHeaderCellDef mat-header-cell>Current Firmware</th>
          <td *matCellDef="let element" mat-cell>
            {{ element.currentFirmware }}
          </td>
        </ng-container>

        <!-- Updater Firmware Column -->
        <ng-container matColumnDef="newest">
          <th *matHeaderCellDef mat-header-cell>Updater Firmware</th>
          <td *matCellDef="let element" mat-cell>
            {{ element.newestFirmware }}
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
    </ng-container>
  </div>
</div>
