<div class="card-wrapper" id="card-wrapper">
  <mat-tab-group>
    <!-- Suites Tab -->
    <mat-tab label="Suites">
      <ng-template matTabContent>
        <div class="suite-wrapper">
          <app-other></app-other>
        </div>
      </ng-template>
    </mat-tab>

    <!-- Tests Tab -->
    <mat-tab label="Tests">
      <ng-template matTabContent>
        <div class="suite-wrapper">
          <app-single-test></app-single-test>
        </div>
      </ng-template>
    </mat-tab>

    <!-- Test plan Tab -->
    <mat-tab label="Testplan">
      <ng-template matTabContent>
        <div class="suite-wrapper">
          <app-testplan></app-testplan>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
