<div id="card-wrapper" class="card-wrapper">
  <mat-tab-group>
    <!-- Suites Tab -->
    <mat-tab label="Suites">
      <ng-template matTabContent>
        <div class="suite-wrapper">
          <div class="suite-content">
            <app-other></app-other>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <!-- Test plan Tab -->
    <mat-tab label="Test Plan">
      <ng-template matTabContent>
        <div class="suite-wrapper">
          <div class="suite-content">
            <app-testplan></app-testplan>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
