.suite-wrapper {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-top: 4rem;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .suite-content {
    display: flex;
    flex-direction: column;
    width: 26rem;
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    position: relative;

    .loading {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 0.5rem 0;
    }
  }
}

::ng-deep .mat-mdc-tab-labels div[role='tab'] {
  min-width: 10rem;
}

