<div class="suite-content">
  <div class="wrapper">
    <app-build-select-form
      (allRequiredFieldsSet)="allRequiredFieldsSet($event)"
      (onInitComplete)="onDutListUpdate($event)"
      [hidePoolSelector]="true"
    ></app-build-select-form>

    <div class="px-6 pt-4">
      <app-basic-selector
        #dlmIDSelector
        (select)="onDlmSkuIDChanged($event)"
        [disabledMessage]="fields.model === '' ? 'Please select a model' : ''"
        [disabled]="fields.model === ''"
        [options]="dlmSkuIDOptions"
        id="dlmIDSelector"
        placeholder="Please select a DLM SKU ID"
        title="Select DLM SKU ID (Optional)"
      ></app-basic-selector>

      <app-autocomplete-selector
        #suiteSelector
        (inputChanged)="onSuiteChanged($event)"
        [options]="suiteOptions"
        id="suiteSelector"
        placeholder="Type or scroll to select custom suite"
        title="Type or scroll to select custom suite"
      >
      </app-autocomplete-selector>

      <mat-form-field class="full-width zero-padding">
        <mat-label>Qualification ID</mat-label>
        <input
          (change)="onBugIDChanged($event.target.value)"
          matInput
          name="bugID"
          required
        />
      </mat-form-field>

      <mat-checkbox
        (change)="onIncrementalRunChange($event)"
        [(ngModel)]="isIncrementalRun"
        >Incremental Run
      </mat-checkbox>
    </div>

    <app-advanced-settings
      (settingsChanged)="onAdvancedSettingsChanged($event)"
      [customSettings]="customSettings"
    ></app-advanced-settings>

    <div class="flex justify-center py-4">
      <app-loading-button
        (onClick)="onRunSuiteClick()"
        [disabled]="disabled"
        [loading]="isRunning"
        [text]="'Run'"
      ></app-loading-button>
    </div>
  </div>
</div>
