<div class="wrapper">
  <app-loading [loading$]="loading$"></app-loading>
  <div class="selection-group">
    <mat-radio-group [(ngModel)]="rmaAuth">
      <mat-radio-button
        [disabled]="(loading$ | async).show"
        [checked]="true"
        [value]="false"
        >Regular</mat-radio-button
      >
      <mat-radio-button [disabled]="(loading$ | async).show" [value]="true"
        >RMA-Auth</mat-radio-button
      >
    </mat-radio-group>
    <button
      mat-raised-button
      color="primary"
      (click)="onStartClicked()"
      [disabled]="(loading$ | async).show"
    >
      Start
    </button>
  </div>
  <div class="content-group">
    <div innerHTML="{{ hintMessage }}"></div>
  </div>
  <div class="bottom-group">
    <div *ngIf="rmaAuth && (loading$ | async).show" class="input-group">
      <input matInput placeholder="Enter RMA code" [(ngModel)]="rmaCode" />
      <button mat-raised-button color="primary" (click)="onSubmitClicked()">
        Submit
      </button>
    </div>
    <button class="btn-group" mat-raised-button (click)="onCloseClicked()">
      Close
    </button>
  </div>
</div>
