<div class="wrapper">
  <app-loading [loading$]="loading$"></app-loading>
  <div class="selection-group">
    <mat-radio-group [(ngModel)]="rmaAuth">
      <mat-radio-button
        [disabled]="(loading$ | async).show"
        [checked]="true"
        [value]="false"
        >Regular</mat-radio-button
      >
      <mat-radio-button [disabled]="(loading$ | async).show" [value]="true"
        >RMA-Auth</mat-radio-button
      >
    </mat-radio-group>
    <button
      mat-raised-button
      color="primary"
      (click)="onStartClicked()"
      [disabled]="(loading$ | async).show"
    >
      Start
    </button>
  </div>
  <div class="content-group">
    <div innerHTML="{{ hintMessage }}"></div>
  </div>
  <div class="relative flex w-full justify-between align-center flex-row">
    <div
      class="flex flex-row items-center justify-end px-4 w-full gap-4"
      *ngIf="rmaAuth && (loading$ | async).show"
    >
      <input
        matInput
        placeholder="Enter RMA code"
        [(ngModel)]="rmaCode"
        class="border-2 rounded h-8 px-2 w-full"
      />
      <button mat-raised-button color="primary" (click)="onSubmitClicked()">
        Submit
      </button>
    </div>
    <button class="btn-group" mat-raised-button (click)="onCloseClicked()">
      Close
    </button>
  </div>
</div>
