<div class="wrapper">
  <div class="btn-group">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!isDUTSelected || loading"
      (click)="onEnrollClicked()"
    >
      Enroll Selected
    </button>

    <button
      mat-raised-button
      [disabled]="!isDUTSelected || loading"
      (click)="onUnEnrollClicked()"
    >
      Unenroll Selected
    </button>

    <button
      mat-raised-button
      [disabled]="!isDUTSelected || loading"
      (click)="onRepairClicked()"
    >
      Repair
    </button>

    <button mat-raised-button [disabled]="loading" (click)="onProvisionDUTs()">
      Provision DUTs
    </button>
  </div>

  <br />

  <div class="pool-wrapper">
    <div class="input-wrapper">
      <div class="inputbox-container without-border w-48">
        <b>Pool: </b>
        <mat-form-field class="without-underline full-width">
          <input id="pool" matInput [formControl]="pool" />
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        [disabled]="
          !(pool.value !== '' && isDUTSelected) ||
          loading ||
          (pool.invalid && (pool.dirty || pool.touched))
        "
        (click)="onAddPoolClicked()"
      >
        Add
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="
          !(pool.value !== '' && isDUTSelected) ||
          loading ||
          (pool.invalid && (pool.dirty || pool.touched))
        "
        (click)="onRemovePoolClicked()"
      >
        Remove
      </button>
    </div>
    <ng-container *ngIf="pool.invalid && (pool.dirty || pool.touched)">
      <div class="error">
        Must be less than 20 characters and contains letters, 0-9, or '-'
      </div>
    </ng-container>
  </div>

  <div class="function-tools-wrapper">
    <mat-slide-toggle
      (change)="autoRefreshChanged($event)"
      [(ngModel)]="autoRefreshFlag"
      >Auto refresh
    </mat-slide-toggle>
  </div>

  <app-view-duts
    [DUTs]="DUTs"
    (selectDUTs)="onDUTsSelectionChanged($event)"
    [loading]="loading"
    [hostnamePrefix]="hostnamePrefix"
  ></app-view-duts>
</div>
