@import '../../../constants.scss';

.wrapper {
  width: 100%;
  position: relative;
  padding: 1rem 1rem;

  .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    position: relative;

    button {
      height: 2.5rem;
    }
  }

  .function-tools-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    position: relative;
    padding: 0.5rem;
  }

  .pool-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .input-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      position: relative;
      border: 1px solid $color-grey;
      border-radius: 0.25rem;
      width: fit-content;
      padding: 0.25rem 0.5rem;

      .inputbox-container {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .error {
      color: $color-error;
    }
  }
}
