<div class="flex gap-2 w-full flex-col">
  <app-basic-selector
    (select)="onPropsChanged('branch', $event)"
    [options]="filteredBranchOptions()"
    [value]="branchSignal()"
    [disabled]="
      loadingSignal().show ||
      isParentLoadingSignal() ||
      boardSignal() === '' ||
      filteredBranchOptions().length === 0
    "
    title="Select {{ config().label }} Branch:"
  >
  </app-basic-selector>

  <app-basic-selector
    (select)="onPropsChanged('target', $event)"
    [options]="filteredTargetOptions()"
    [value]="targetSignal()"
    [disabled]="
      loadingSignal().show ||
      isParentLoadingSignal() ||
      branchSignal() === '' ||
      filteredTargetOptions().length === 0
    "
    title="Select {{ config().label }} Target:"
  >
  </app-basic-selector>

  <app-autocomplete
    [options]="buildOptions()"
    [value]="buildSignal()"
    [disabledMsg]="autoCompleteDisabledMsg()"
    title="Select {{ config().label }} Build:"
    (selectChanged)="onPropsChanged('build', $event)"
    (valueChanged)="onBuildInputValueChanged($event)"
  ></app-autocomplete>
</div>
