<div class="wrapper">
  <app-loading [loading$]="loading$"></app-loading>

  <div class="content">
    <app-basic-selector
      #modelSelector
      (select)="onModelChanged($event)"
      [disabled]="modelOptions.length === 0 || (loading | async).show"
      [options]="modelOptions"
      id="modelSelector"
      placeholder="Please select a model"
      title="Select Model:"
    >
    </app-basic-selector>

    <app-basic-selector
      #boardSelector
      (select)="onBoardChanged($event)"
      [disabledMessage]="fields.model === '' ? 'Please select a model' : ''"
      [disabled]="fields.model === '' || (loading | async).show"
      [options]="boardOptions"
      id="boardSelector"
      placeholder="Please select a board"
      title="Select Board:"
    >
    </app-basic-selector>

    <app-build-selector
      (onChanged)="onBuildChanged($event)"
      [board]="fields.board"
      [loading]="loading"
      [model]="fields.model"
    ></app-build-selector>

    <ng-container *ngIf="!hidePoolSelector">
      <app-basic-selector
        #poolSelector
        (select)="onPoolChanged($event)"
        [disabledMessage]="
          fields.model === '' ? 'Please select a model and board' : ''
        "
        [disabled]="fields.model === '' || (loading | async).show"
        [options]="poolOptions"
        id="poolSelector"
        placeholder="Please select a pool"
        title="Select Pool:"
      >
      </app-basic-selector>
    </ng-container>

    <ng-container *ngIf="!hideHostnameSelector">
      <app-basic-selector
        #hostnameSelector
        (select)="onHostnameChanged($event)"
        [disabledMessage]="
          fields.model === '' ? 'Please select a model and board' : ''
        "
        [disabled]="fields.model === '' || (loading | async).show"
        [options]="hostnameOptions"
        id="hostnameSelector"
        placeholder="Please select a hostname"
        title="Select Hostname:"
      >
      </app-basic-selector>
    </ng-container>
  </div>
</div>
