<div>
  <app-build-select-forms
    (allRequiredFieldsSet)="onBuildSet($event)"
    (formLoading)="onFormLoading($event.message)"
    (formLoaded)="onFormLoaded()"
    (buildVersionUnselected)="onBuildVersionUnselected()"
    [recommendedBuildLabel]="recommendedBuildTag"
  >
  </app-build-select-forms>
  <app-basic-selector
    #suiteSelector
    [title]="'Select CUJ suite:'"
    [options]="suiteList"
    [placeholder]="['Select a suite']"
    [isShown]="true"
    (select)="suiteDropdownChanged($event.value)"
  >
  </app-basic-selector>
  <div [hidden]="!hideCustomInput">
    <br />
  </div>
  <app-basic-input
    [hidden]="hideCustomInput"
    #suiteInput
    [name]="'Custom Suite Name'"
    (update)="suiteChanged()"
  >
  </app-basic-input>

  <div class="basic-radio-button" style="text-align: center">
    <mat-radio-group
      #labelSelector
      [disabled]="labelSelectDisabled"
      (change)="suiteLabelChanged($event.value)"
      [(ngModel)]="suiteLabel"
    >
      <mat-radio-button *ngFor="let op of options" [value]="op[0]">{{
        op[1]
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div style="padding: 0 0 20px 10px; margin-top: -20px">
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </div>

  <app-basic-checkbox
    #externalDisplayToggle
    [name]="'Include external display tests'"
  >
  </app-basic-checkbox>

  <app-new-update-notifier></app-new-update-notifier>

  <app-run-suite-button (onClick)="onRunSuiteClick()"></app-run-suite-button>
</div>
