$color-primary-blue: #1976d2;
$color-grey: #ebebeb;
$color-deep-grey: rgb(160, 160, 170);
$color-green: #90ee90;
$color-loading-background: rgba(220, 220, 220, 0.3);

$font-size-title: 1.1rem;
$font-weight-title: 500;
$font-size-normal: 1rem;
$font-weight-normal: 300;

