$color-primary-blue: #1976d2;
$color-grey: #ebebeb;
$color-deep-grey: rgb(160, 160, 170);
$color-green: #90ee90;
$color-loading-background: rgba(220, 220, 220, 0.3);
$color-loading-overlay: rgba(224, 224, 224, 0.7);
$color-error: #f44336;
$color-without-access: #ffebee;
$color-warn: rgba(250, 230, 220, .5);

$font-size-title: 1.1rem;
$font-weight-title: 500;
$font-size-normal: 1rem;
$font-weight-normal: 300;

