#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left:0px;
  top:0px;
  z-index: 100;
}

.center {
  background-color: rgba(250, 250, 250, 0.7);
}

.center .loading-wrapper {
  margin-left: 10%;
  margin-top: 50%;
  width: 80%;
}

.top .loading-wrapper {
  width: 100%;
}

.loading-wrapper {
  display: inline-block;
}

.loading-card {
  border: 1px solid #ebebeb;
  box-shadow: none !important;
  text-align: center;
  padding: 3px;
}
