<div [class.enabled]="!isDisabled()" [class.error]="hasError()" [class.next-up]="isNextUp()"
  class="autocomplete-selector dropdown" id="autocomplete-wrapper">
  <form matTooltip="{{this.getDisabledReason()}}">
    <mat-form-field class="autocomplete-form">
      <span (click)="onClick()" id="input-wrapper">
        <input (blur)="onBlur()" (click)="onClick()" (keyup)="_keyUp($event)" [formControl]="selectFormControl"
          [matAutocomplete]="auto" aria-label="Number" id="autocompleteInput" matInput placeholder="{{title}}"
          type="text">
      </span>
      <mat-hint *ngIf="this.hasError()"><span class="mat-error">{{errorMsg}}</span></mat-hint>
      <mat-hint *ngIf="this.isDisabled()"><span class="mat-error">{{disabledReasonMessage}}</span></mat-hint>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelect($event)">
        <mat-option #options *ngFor="let option of filteredOptions | async" [value]="option"
          [disabled]="option.status !== ''">
          {{option.text}}
          <span *ngIf="option.status !== ''">
            <span class="chip {{ option.status | lowercase }}-chip">{{ option.status }}</span>
          </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>