<div>
  <app-build-select-forms
    (allRequiredFieldsSet)="onBuildSet($event)"
    (allRequiredFieldsSet)="validateStorageQualSetup()"
    (buildVersionUnselected)="onBuildVersionUnselected()"
    (formLoading)="onFormLoading($event.message)"
    (formLoaded)="onFormLoaded()"
  >
  </app-build-select-forms>

  <div class="storage-check-validation">
    <mat-error *ngIf="storageQualCheckError">{{
      storageQualCheckError
    }}</mat-error>
  </div>
  <mat-divider></mat-divider>

  <app-basic-input
    #diskSizeInput
    [name]="'Disk drive total size [GB]'"
    [isNumeric]="true"
    (update)="diskInputChanged()"
  >
  </app-basic-input>

  <app-basic-selector
    #suiteSelector
    [title]="'Recommended test suite based on disk size:'"
    [options]="suiteOptions"
    [placeholder]="['Test suite variation']"
    [isShown]="true"
    (select)="suiteChanged($event.value)"
  >
  </app-basic-selector>

  <app-basic-checkbox
    #dualNamespace
    [name]="'Dual-namespace device (optional)'"
  >
  </app-basic-checkbox>

  <app-basic-checkbox
    #isPreQualified
    [name]="'Part has been previously qualified (optional)'"
  >
  </app-basic-checkbox>

  <mat-divider></mat-divider>

  <app-basic-input
    #bugIdInput
    [name]="'AVL Process Bug ID'"
    [isNumeric]="true"
    (update)="avlInputChanged()"
  >
  </app-basic-input>

  <app-basic-input
    #partNumberInput
    [name]="'AVL Part Number'"
    (update)="avlInputChanged()"
  >
  </app-basic-input>

  <app-new-update-notifier></app-new-update-notifier>

  <app-run-suite-button (onClick)="onRunSuiteClick()"></app-run-suite-button>
</div>
