# Copyright 2024 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
docker
future
google-cloud-pubsub
google-cloud-storage
parallel-ssh
python-nmap
requests
six==1.15.0
wheel
