<div>
  <app-build-select-forms
    (allRequiredFieldsSet)="onBuildSet($event)"
    (buildVersionUnselected)="onBuildVersionUnselected()"
    (formLoading)="onFormLoading($event.message)"
    (formLoaded)="onFormLoaded()"
  >
  </app-build-select-forms>
  <app-basic-selector
    #variationInput
    [title]="'Select suite:'"
    [options]="suiteList"
    [placeholder]="['Select a suite']"
    [isShown]="true"
    (select)="suiteDropdownChanged($event.value)"
  >
  </app-basic-selector>
  <div [hidden]="!hideCustomInput">
    <br />
  </div>
  <app-basic-input
    [hidden]="hideCustomInput"
    #suiteInput
    [name]="'Custom Suite Name'"
    (update)="suiteChanged()"
  >
  </app-basic-input>

  <app-new-update-notifier></app-new-update-notifier>

  <app-run-suite-button (onClick)="onRunSuiteClick()"></app-run-suite-button>
</div>
