<table id="keyval-table" mat-table [dataSource]="infoTable">
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef>Key</th>
    <td mat-cell *matCellDef="let infoRow" class="no-wrap"><b> {{infoRow.key}} </b></td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let infoRow"> {{infoRow.value}} </td>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>
