@import 'constants';

.white-color {
  color: $color-white;
}

.wrapper {
  width: 100%;
  position: relative;

  .sidebar-wrapper {
    min-width: 13rem;
    height: 100%;

    a:link,
    a:visited,
    a:hover {
      color: $color-black;
    }

    .sidebar-item {
      font-size: 1.1rem;
      font-weight: $font-weight-normal;

      &:hover {
        background-color: $color-sidebar-hover;
      }

      padding: 1rem;
      min-height: 4rem;

      &.disabled {
        color: gray;
        cursor: not-allowed;
      }
    }

    .active-route {
      .sidebar-item {
        background-color: $color-grey;
        font-weight: $font-weight-title;
      }
    }
  }

  .content-wrapper {
    display: flex;
    height: calc(100vh - 64px);
    overflow: auto;
    position: relative;

    .notification-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      row-gap: 1rem;
      align-items: center;
      z-index: $notification-layout;
      width: 100%;
      top: 1rem;
    }

    .content {
      width: 100vw;
    }
  }
}
