<div class="wrapper">
  <mat-toolbar color="primary" opened="true" #topToolbar class="top-bar-wrapper">
    <button mat-icon-button color="accent" aria-label="sidenav button" (click)="drawer.toggle()">
      <mat-icon class="white-color">menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened="true">
      <div class="sidebar-wrapper">
        <a *ngFor="let tab of navTabs" mat-list-item routerLink="{{ tab.route }}" routerLinkActive="active-route">
          <div class="sidebar-item">
            <div class="flex flex-row items-center gap-2">
              <mat-icon class="sidebar-icon">{{ tab.icon }} </mat-icon>
              <p>{{ tab.label }}</p>
            </div>
          </div>
        </a>
      </div>
    </mat-drawer>

    <div class="content-wrapper">
      <div class="notification-wrapper">
        <app-notification
          *ngFor="let n of this.notificationService.notification$ | async; trackBy: trackNotification"
          [notification]="n"
          [showDismissButton]="n.type !== 'error'"
          (clicked)="dismiss(n)"
        ></app-notification>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
