<div class="wrapper">
  <mat-toolbar
    #topToolbar
    class="top-bar-wrapper"
    color="primary"
    opened="true"
  >
    <button
      (click)="drawer.toggle()"
      aria-label="sidenav button"
      color="accent"
      mat-icon-button
    >
      <mat-icon class="white-color">menu</mat-icon>
    </button>

    <mat-icon class="logo-icon" svgIcon="moblab"></mat-icon>

    <p class="title">Satlab</p>
  </mat-toolbar>

  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened="true">
      <div class="sidebar-wrapper">
        <div *ngFor="let tab of navTabs">
          <a routerLink="{{ tab.route }}" routerLinkActive="active-route">
            <div
              [class.disabled]="tab.disabled ?? !(auth.loginState$ | async)"
              class="sidebar-item"
              *ngIf="!tab.children"
            >
              <div class="flex flex-row items-center gap-2">
                <span
                  class="material-icon-base material-icon"
                  [class.material-symbols-outlined]="tab.outlined"
                  >{{ tab.icon }}</span
                >
                <p>{{ tab.label }}</p>
              </div>
            </div>
          </a>

          <ng-container *ngIf="tab.children">
            <button
              routerLink="{{ tab.route }}"
              routerLinkActive="active-route"
              disabled="true"
              class="w-full"
            >
              <div
                [class.disabled]="tab.disabled ?? !(auth.loginState$ | async)"
                class="sidebar-item"
              >
                <div class="flex flex-row items-center gap-2">
                  <span
                    class="material-icon-base material-icon"
                    [class.material-symbols-outlined]="tab.outlined"
                    >{{ tab.icon }}</span
                  >
                  <p>{{ tab.label }}</p>
                </div>
              </div>
            </button>

            <a
              *ngFor="let child of tab.children"
              routerLink="{{ child.route }}"
              routerLinkActive="active-route"
            >
              <div
                [class.disabled]="child.disabled ?? !(auth.loginState$ | async)"
                class="sidebar-item"
              >
                <div class="flex flex-row items-center gap-2 pl-4">
                  <span
                    class="material-icon-base material-icon"
                    [class.material-symbols-outlined]="child.outlined"
                    >{{ child.icon }}</span
                  >
                  <p>{{ child.label }}</p>
                </div>
              </div>
            </a>
          </ng-container>
        </div>
      </div>
    </mat-drawer>

    <div class="content-wrapper">
      <div class="notification-wrapper">
        <app-notification
          (clicked)="dismiss(n)"
          *ngFor="
            let n of this.notificationService.notification$ | async;
            trackBy: trackNotification
          "
          [notification]="n"
        ></app-notification>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
