@import 'constants';

.stable-version-card-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  align-items: center;
  background-color: white;
  position: relative;

  & .col {
    &.large {
      width: 300px;
    }

    &.medium {
      width: 200px;
    }

    & p.error {
      color: $color-dut-status-red;
    }

    width: 100px;
    height: 48px;
    display: block;
    text-align: center;
    line-height: 48px;
    overflow: hidden;
  }

  & .loading {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 12px 0;
  }
}
