.sidenav-container {
  min-height: 800px;
}

.sidenav-container mat-sidenav {
  min-width: 200px;
}

.sidenav-container .mat-sidenav-content,
.sidenav-container mat-sidenav {
  display: flex;
}

mat-toolbar {
  display: flex;
}

body {
  margin: 0px;
}

.mat-sidenav-content {
  background: white;
}
