<div class="py-2">
  <div class="relative w-full my-2">
    <input
      type="text"
      class="w-full peer block border-b border-gray-400 pb-1 pt-6 focus:border-blue-500 bg-transparent outline-none text-sm font-light font-sans"
      placeholder=""
      (input)="onValueChanged($event)"
      [value]="inputValue()"
    />
    <label
      class="absolute top-4 origin-[0] -translate-y-3 scale-75 duration-150 text-gray-400 font-sans font-light peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-500"
      >Test plan</label
    >
  </div>

  <div>
    <ng-content class="advancedSettings"></ng-content>
  </div>
</div>
