<div
  [style.--bg]="bg"
  [style.--fg]="fg"
  [style.--size.px]="size"
  class="wrapper"
>
  <svg viewBox="0 0 36 36">
    <path
      class="circle-bg"
      d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
    />
    <path
      attr.stroke-dasharray="{{ progress * 100 | number: '1.0-0' }}, 100"
      class="circle"
      d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
    />
  </svg>
  <div class="percentage-text">
    <span>{{ progress | percent }}</span>
  </div>
</div>
