<div class="manage-duts-wrapper">
  <mat-tab-group>
    <!-- Enrollment Tab -->
    <mat-tab label="Enrollment">
      <ng-template matTabContent>
        <app-enrollment [DUTs]="DUTs" (onDUTsUpdated)="onDUTsUpdated()" [loading]="listDUTsLoading"></app-enrollment>
      </ng-template>
    </mat-tab>

    <!-- Edit Pools Tab -->
    <mat-tab label="Edit Pools">
      <ng-template matTabContent>
        <app-edit-duts [DUTs]="enrolledDUTs" (onDUTsUpdated)="onDUTsUpdated()" [loading]="listDUTsLoading"></app-edit-duts>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
