<div class="manage-duts-wrapper">
  <mat-tab-group>
    <!-- Enrollment Tab -->
    <mat-tab label="Enrollment">
      <ng-template matTabContent>
        <app-enrollment
          [DUTs]="DUTs"
          (updateDUTs)="onDUTsUpdated()"
          [loading]="listDUTsLoading"
          [hostnamePrefix]="hostnamePrefix"
          [autoRefreshFlag]="autoRefreshListDUTs"
          (autoRefresh)="onAutoRefreshBtnClicked($event)"
        ></app-enrollment>
      </ng-template>
    </mat-tab>

    <!-- Stable version Tab -->
    <mat-tab label="Stable version">
      <ng-template matTabContent>
        <app-stable-version></app-stable-version>
      </ng-template>
    </mat-tab>

    <!-- Firmware Tab -->
    <mat-tab label="Firmware">
      <ng-template matTabContent>
        <app-firmware></app-firmware>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
