<div class="relative">
  <div class="relative flex gap-4 w-full flex-col">
    <!-- Hidden for a pinned build: the pin already decided the xTS type. -->
    <div *ngIf="!pinnedSuiteSignal()">
      <app-autocomplete-selector
        #suiteSelector
        id="suiteSelector"
        [options]="suiteOptions()"
        title="Select Suite:"
        (selectChanged)="onSelectedChanged('suite', $event)"
        (inputChanged)="onSuiteInputChanged($event)"
      ></app-autocomplete-selector>
    </div>

    <div class="flex flex-col gap-4">
      <div class="flex flex-row">
        <button
          class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
          (click)="onInputTabChanged('single')"
          [class.active]="testInputTabSignal() === 'single'"
        >
          Single Input
        </button>
        <button
          class="w-full hover:bg-blue-50 text-gray-500 h-12 [&.active]:text-blue-400 [&.active]:border-b [&.active]:border-b-blue-400 text-md"
          (click)="onInputTabChanged('multiple')"
          [class.active]="testInputTabSignal() === 'multiple'"
        >
          Multiple Input
        </button>
      </div>
      <div
        class="flex flex-row justify-center items-center"
        *ngIf="testInputTabSignal() === 'single'"
      >
        <app-autocomplete-selector
          class="w-full"
          #testSelector
          [options]="testOptions()"
          [title]="testTitle"
          (selectChanged)="onSelectedChanged('test', $event)"
          (inputChanged)="onSelectedChanged('test', $event)"
          id="testSelector"
        ></app-autocomplete-selector>
        <button
          class="w-full"
          mat-button
          (click)="onAddTestClicked()"
          [disabled]="!testValid()"
          class="add-btn"
          color="primary"
          matTooltip="Add test to include/exclude"
        >
          <span class="material-icon-base material-icon">add</span>
        </button>
      </div>
      <div
        class="flex flex-row justify-center items-center"
        *ngIf="testInputTabSignal() === 'multiple'"
      >
        <textarea
          rows="5"
          class="w-full border border-gray-300 rounded-md p-2"
          (input)="onMultiLineTestInputChanged($event)"
          [placeholder]="
            'Enter test cases to ' +
            testTitle +
            ' and separate them by commas.Ex: CtsADPFHostTestCases,CtsAccelerationTestCases,CtsAccountsHostTestCases'
          "
          [value]="multipleTestInputSignal()"
        ></textarea>
        <button
          class="w-full"
          mat-button
          (click)="onAddMultiTestsClicked()"
          [disabled]="multipleTestInputSignal() === '' || suiteSignal() === ''"
          class="add-btn"
          color="primary"
          matTooltip="Add tests to include/exclude"
        >
          <span class="material-icon-base material-icon">add</span>
        </button>
      </div>
    </div>
  </div>
  <div>
    <ng-content class="advancedSettings"></ng-content>
  </div>
  <div class="relative flex gap-2 w-full flex-col-reverse">
    <div
      class="flex gap-4 w-full flex-row justify-between items-center"
      *ngFor="let test of selectedTestModulesSignal(); let i = index"
    >
      <span>{{ test }}</span>
      <button mat-button (click)="onRemoveTestClicked(i)">
        <span class="material-icon-base material-icon">delete</span>
      </button>
    </div>
  </div>
</div>
